<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
    .countdown{
     top: 64%;
    right: 6%;
    position: absolute;
    color:red;
  }
  .btncolor {
    background-color:#FE3C72;
  }
</style>

<div class="bg-white-800  relative h-68 text-center" >
  
  <div class="banner_image flex justify-center mt-2">

  <video width="1000px" loop="true" autoplay="autoplay"  class="my-2" muted>
  <source src="onevideo.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
  </div>
<div id="demo" class="countdown text-xl font-bold" > </div>

</div>

          <% if(contests){ contests.forEach((contest)=>{%>

<div class=" py-3 px-2 rounded-md shadow-md mt-2 shadow-black mx-2" style="border:1px solid gray ">

<div class="container mx-auto dd">
    <div class="w-42">
        <div class="card h-44 items-center border rounded-md ">
            <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/20220110_234017_0000.png?v=1641838185287" alt="Image" />
        </div>
        <div class="row_images">
          <h4 class=" text-center  text-md my-2" >
             Top Contestants 
          </h4>
    <div class="row_inner flex justify-center py-1  px-1 border ">
          <% if(user){ user.forEach((item)=>{%>
            <div class="flex flex-col w-12 mr-1">
            <img src="<%=item.image %>"  class="h-12 w-12  rounded-full"/>
            <span class="text-sm"><%=item.name %></span>
      </div>
          <% }) } %>
     
      
  </div>

      </div>
      
      <div class="botton mt-3 flex flex-col text-center">
            <form action="/user/voted" method="post" class="">
            <label for="cars" class="mt-2">Choose a Contestant :</label>
<select name="participant_id" id="participants" class="form-control  mb-2">
<%if(participants) participants.forEach((participant)=>{%>
  <option value="<%= participant.google_id%>" class=""><%= participant.first_name%></option>
  <% })%>

</select>
              <input type="hidden" name="contest_id" value="<%= contest._id %>"
              <h4 class="text-start mt-2">
                Vote for Your favourite contestant
              </h4>
            <button type="submit" class="py-2  btncolor mt-2 text-lg text-white font-bold rounded" style="width:270px">VOTE</button>
            </form>
        <h4 class="text-start mt-2">
              Join contest now
              </h4>
                    <a href="/user/participate/<%= contest._id %>" class=" py-2 text-lg btncolor mt-2 text-white font-bold mx-auto rounded mr-7" style="width:270px">PARTICIPATE</a>

          </div>
    </div>
</div>

</div>
          <% }) } %>



<!-- secon card  -->
<!-- 
<div class=" py-3 px-2 mt-3 rounded-md shadow-md shadow-black mx-2" style="border:1px solid gray ">


<div class="container mx-auto dd">
    <div class="w-42">
        <div class="card h-44 items-center border rounded-md bg-yellow-200">
            <img src="" alt="Image" />
        </div>
        <div class="row_images">
          <h4 class=" text-center  text-md my-2" >
             Top Contestants 
          </h4>
    <div class="row_inner flex justify-center py-1  px-1 border ">
          <% if(user){ user.forEach((item)=>{%>
            <div class="flex flex-col w-12 mr-1">
            <img src="<%=item.image %>"  class="h-12 w-12  rounded-full"/>
            <span class="text-sm"><%=item.name %></span>
      </div>
          <% }) } %>
      
  </div>

      </div>
      
      <div class="botton mt-3 flex flex-col text-center">
            <form action="/user/voted" method="post" class="">
              <input type="hidden" name="participant_id" Placeholder="search"/>
              <h4 class="text-start">
                Vote for Your favourite contestant
              </h4>
            <button type="submit" class="py-2  btncolor mt-2 text-lg text-white font-bold rounded" style="width:270px">VOTE</button>
            </form>
        <h4 class="text-start mt-2">
              Join contest now
              </h4>
                    <a href="/user/participate" class=" py-2 text-lg btncolor mt-2 text-white font-bold mx-auto rounded mr-7" style="width:270px">PARTICIPATE</a>

          </div>
    </div>
</div>

</div>
 -->



<%- include('./partials/footer.ejs') %>


<script>
// Set the date we're counting down to
var countDownDate = new Date("Feb 16, 2022 00:00:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "D:" + hours + "H:"
  + minutes + "M ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
