<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
    .countdown{
     top: 64%;
    right: 6%;
    position: absolute;
    color:red;
  }
  .btncolor {
    background-color:#FE3C72;
  }
</style>

<div class="bg-white-800  relative h-68 text-center" >
  
  <div class="banner_image flex justify-center mt-2">

  <video width="1000px" loop="true" autoplay="autoplay"  class="my-2" muted>
  <source src="onevideo.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video>
  </div>
<div id="demo" class="countdown text-xl font-bold" > </div>

</div>

          <% if(contests){ contests.forEach((contest)=>{%>

<div class=" py-3 px-2 rounded-md shadow-md mt-2 shadow-black mx-2" style="border:1px solid gray ">

<div class="container mx-auto dd">
    <div class="w-42">
        <div class="card h-44 items-center border rounded-md ">
            <img src="<%= contest.image %>" alt="Image" />
        </div>
        <div class="row_images">
          <h4 class=" text-center  text-md my-2" >
             Top Contestants 
          </h4>
   <div class="row_inner flex justify-center py-1  px-1 border ">
          <% if(user){ user.forEach((item)=>{%>
            <div class="flex flex-col w-12 mr-1">
            <img src="<%=item.image %>"  class="h-12 w-12  rounded-full"/>
            <span class="text-sm"><%=item.name %></span>
      </div>
          <% }) } %>
     
      
  </div>

      </div>
      
      <div class="botton  flex flex-col text-center">
            <form action="/user/voted" method="post" class="">
               <div   class="font-bold text-xl  flex justify-between text-center"><span class="sr_name" id="<%= contest._id %>">asdf</span><span class="sr_votes" >asdfs </span></div>
            <input type="hidden" name="participant_id" class="participant_id" />
            <input type="text" name=""   onChange="search()" placeholder="Search Participant" class="form-control mt-2 search_term"/>
            <div class="rounded-md py-1 px-2 bg-gray-300 mt-2">Find Participant</div>
              <input type="hidden" name="contest_id" class="contest_id" value="<%= contest._id %>"/>

              <h4 class="text-start mt-3">
                Vote for Your favourite contestant
              </h4>
            <button type="submit" class="py-2  btncolor mt-2 text-lg text-white font-bold rounded" style="width:270px">VOTE</button>
            </form>
        <h4 class="text-start mt-2">
              Join contest now
              </h4>
                    <a href="/user/participate/<%= contest._id %>" class=" py-2 text-lg btncolor mt-2 text-white font-bold mx-auto rounded mr-7" style="width:270px">PARTICIPATE</a>

          </div>
    </div>
</div>

</div>
          <% }) } %>







<%- include('./partials/footer.ejs') %>


<script>
// Set the date we're counting down to
var countDownDate = new Date("Feb 16, 2022 00:00:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();
    
  // Find the distance between now and the count down date
  var distance = countDownDate - now;
    
  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "D:" + hours + "H:"
  + minutes + "M ";
    
  // If the count down is over, write some text 
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script>

let c_id =  document.querySelector(".contest_id").value;
console.log(c_id)
const d = c_id.toString();
console.log(d)


const search = function(e){
const val = document.querySelector('.search_term').value
axios.post('https://voting-app-demo.glitch.me/user/search', {data : val}).then((res)=> {
console.log(res)
if(res.data == ''){

document.getElementById(d).innerHTML ="No user Found "; 
console.log('no data')

}else{
document.querySelector('.participant_id').value = res.data.google_id;
document.querySelector('.search_term').value = res.data.username;
document.querySelector('.sr_name').innerHTML ="Name :"+ res.data.first_name; 
document.querySelector('.sr_votes').innerHTML = 'Votes : ' +  res.data.total_votes;

}


}).catch((e)=> {console.log(e)})
}
</script> -->