<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
    .countdown{
    top:30%;
    left:25%;
    color:red;
  }
  .btncolor {
    background-color:#FE3C72;
  }
</style>


<div class="bg-white-800  relative h-68 text-center" >
  
  <div class="banner_image flex justify-center mt-2">
    <img src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/download%20(4).jpg?v=1641054255398" alt="Banner Image" />
  </div>
  <div class="btn mt-2" >
    <a href='' class="py-1 px-3 bg-gray-700 border text-white font-bold  rounded-md" >Click me</a>
  </div>
  <div class="countdown bg-gray-300  py-1 px-4 absolute  mt-2" >
    <h4 class="text-4xl  font-bold">
      00:00:00
    </h4>
  </div>
</div>



<div class=" py-3 px-2 rounded-md shadow-md shadow-black mx-2" style="border:1px solid gray ">


<div class="container mx-auto dd">
    <div class="w-42">
        <div class="card h-44 items-center border rounded-md bg-yellow-200">
            <img src="" alt="Image" />
        </div>
        <div class="row_images">
          <h4 class=" text-center  text-md my-2" >
             Top Contestants 
          </h4>
    <div class="row_inner flex justify-center py-1  px-1 border ">
          <% if(user){ user.forEach((item)=>{%>
            <div class="flex flex-col w-12 mr-1">
            <img src="<%=item.image %>"  class="h-12 w-12  rounded-full"/>
            <span class="text-sm"><%=item.name %></span>
      </div>
          <% }) } %>
     
      
  </div>

      </div>
      
      <div class="botton mt-3 flex flex-col text-center">
            <form action="/user/voted" method="post" class="">
              <input type="hidden" name="participant_id" Placeholder="search"/>
              <h4 class="text-start">
                Vote for Your favourite contestant
              </h4>
            <button type="submit" class="py-2  btncolor mt-2 text-lg text-white font-bold rounded" style="width:270px">VOTE</button>
            </form>
        <h4 class="text-start mt-2">
              Join contest now
              </h4>
                    <a href="/user/participate" class=" py-2 text-lg btncolor mt-2 text-white font-bold mx-auto rounded mr-7" style="width:270px">PARTICIPATE</a>

          </div>
    </div>
</div>

</div>




<!-- secon card  -->

<div class=" py-3 px-2 mt-3 rounded-md shadow-md shadow-black mx-2" style="border:1px solid gray ">


<div class="container mx-auto dd">
    <div class="w-42">
        <div class="card h-44 items-center border rounded-md bg-yellow-200">
            <img src="" alt="Image" />
        </div>
        <div class="row_images">
          <h4 class=" text-center  text-md my-2" >
             Top Contestants 
          </h4>
    <div class="row_inner flex justify-center py-1  px-1 border ">
          <% if(user){ user.forEach((item)=>{%>
            <div class="flex flex-col w-12 mr-1">
            <img src="<%=item.image %>"  class="h-12 w-12  rounded-full"/>
            <span class="text-sm"><%=item.name %></span>
      </div>
          <% }) } %>
      
  </div>

      </div>
      
      <div class="botton mt-3 flex flex-col text-center">
            <form action="/user/voted" method="post" class="">
              <input type="hidden" name="participant_id" Placeholder="search"/>
              <h4 class="text-start">
                Vote for Your favourite contestant
              </h4>
            <button type="submit" class="py-2  btncolor mt-2 text-lg text-white font-bold rounded" style="width:270px">VOTE</button>
            </form>
        <h4 class="text-start mt-2">
              Join contest now
              </h4>
                    <a href="/user/participate" class=" py-2 text-lg btncolor mt-2 text-white font-bold mx-auto rounded mr-7" style="width:270px">PARTICIPATE</a>

          </div>
    </div>
</div>

</div>




<%- include('./partials/footer.ejs') %>


