<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
  .countdown{
    top:30%;
    left:25%;
    color:red;
  }
</style>


<div class="bg-white-800  relative h-68 text-center" >
  
  <div class="banner_image flex justify-center mt-2">
    <img src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/download%20(4).jpg?v=1641054255398" alt="Banner Image" />
  </div>
  <div class="btn mt-2" >
    <a href='' class="py-1 px-3 bg-gray-700 border text-white font-bold  rounded-md" >Click me</a>
  </div>
  <div class="countdown bg-gray-300  py-1 px-4 absolute  mt-2" >
    <h4 class="text-4xl  font-bold">
      00:00:00
    </h4>
  </div>
</div>





<div class="container mx-auto dd">
    <div class="w-42">
        <div class="card h-44 items-center border rounded-md bg-yellow-200">
            <img src="" alt="Image" />
        </div>
        <div class="row_images">
    <div class="row_inner flex  py-1 px-3 border">
          <% if(user){ user.forEach((item)=>{%>
            <img src="<%=item.image %>"  class="h-16 w-16 mr-1 rounded-full"/>
          <% }) } %>
        <% if(user){ user.forEach((item)=>{%>
            <img src="<%=item.image %>"  class="h-16 w-16 mr-1 rounded-full"/>
          <% }) } %>
        <% if(user){ user.forEach((item)=>{%>
            <img src="<%=item.image %>"  class="h-16 w-16 mr-1 rounded-full"/>
          <% }) } %>
        <% if(user){ user.forEach((item)=>{%>
            <img src="<%=item.image %>"  class="h-16 w-16 mr-1 rounded-full"/>
          <% }) } %>
      
  </div>

      </div>
      
      <div class="botton flex justify-center mt-3">
            <a href="/user/participate" class="px-3 py-2 bg-yellow-600 rounded mr-7">Participate</a>
            <form action="/user/voted" method="post">
              <input type="hidden" name="participant_id" Placeholder="search"/>
            <button type="submit" class="px-3 py-2 bg-yellow-600 rounded">vote</button>
            </form>
          </div>
    </div>
</div>





<div class="fixed bottom-3 w-full ">
        <a href="" class="px-12 ml-2 py-2 bg-black font-bold  mr-1 text-white text-center">HOME</a>
        <a href="" class="px-12 py-2 bg-black text-white font-bold mr-1 text-center">PROFILE</a>
</div>
<%- include('./partials/footer.ejs') %>


