<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<style>
.btncolor{
color:white;
}
</style>


<% if(user.isParticipant){ %>
<div class="mt-3" >
  <div class="flex flex-row justify-center">
    <div class="img flex mb-2 flex-col w-44  ">
      <img src="<%= user.image %>" class=" h-24 mx-auto w-24 bg-yellow-300 rounded-full" />
      <div class=" fontdd " style="text-align:center; margin-top:8px; font-weight:600;">
        <%= user.first_name %> <%= user.last_name %>
      </div>
      <div class=" fontdd font-bold" style="text-align:center; font-weight:700;">@<%= user.username %></div>
    <div class="fontdd  my-2" style="text-align:center;">
          <%= user.total_votes %> Votes
      </div>
    </div>
  </div>
</div>


 <div class="w-11/12 my-3 mx-auto px-2 py-3  rounded">
  <div class="text-sm font-bold text-center fontdd">
 GALLARY
  </div>


      <div class="grid grid-cols-3 gap-1 " >
      <div class="border   py-1 rounded  text-center" style="min-height:70px;">
        <% if(posts[0]){%>
               <img src="<%= posts[0].image  %>" class="w-20 h-20 mx-auto " />
      <% }else{%>
              <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/user.png?v=1642098618413" class="w-20 h-20 mx-auto " />
            <% }%>
    </div>
    <div class="border   py-1 rounded  text-center" style="min-height:70px;">
      <% if(posts[1]){%>
             <img src="<%= posts[1].image  %>" class="w-20 h-20 mx-auto " />
    <% }else{%>
            <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/user.png?v=1642098618413" class="w-20 h-20 mx-auto " />
          <% }%>
  </div>
  <div class="border   py-1 rounded  text-center" style="min-height:70px;">
    <% if(posts[2]){%>
           <img src="<%= posts[2].image  %>" class="w-20 h-20 mx-auto " />
  <% }else{%>
          <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/user.png?v=1642098618413" class="w-20 h-20 mx-auto " />
        <% }%>
</div>
<div class="border   py-1 rounded  text-center" style="min-height:70px;">
  <% if(posts[3]){%>
         <img src="<%= posts[3].image  %>" class="w-20 h-20 mx-auto " />
<% }else{%>
        <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/user.png?v=1642098618413" class="w-20 h-20 mx-auto " />
      <% }%>
</div>
<div class="border   py-1 rounded  text-center" style="min-height:70px;">
  <% if(posts[4]){%>
         <img src="<%= posts[4].image  %>" class="w-20 h-20 mx-auto " />
<% }else{%>
        <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/user.png?v=1642098618413" class="w-20 h-20 mx-auto " />
      <% }%>
</div>
<div class="border   py-1 rounded  text-center" style="min-height:70px;">
  <% if(posts[5]){%>
         <img src="<%= posts[5].image  %>" class="w-20 h-20 mx-auto " />
<% }else{%>
        <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/user.png?v=1642098618413" class="w-20 h-20 mx-auto " />
      <% }%>
</div>
      </div>
      </div>
<div class="text-center container my-2"> 
<div class="text-center">
   <img class="preview" src="#" alt="your image 1"   height="100" />
    </div>

  
<form action="/user/images" method="post" enctype="multipart/form-data">
  <input type="file" id="uploadedImages" onChange="readURL(this)" name="image" value="UPLOAD" multiple class="form-control">
  <div class="fontdd  text-center" style="font-size:12px;">
* Upload pictures to show on your profile
We recommend upload minimum 6 pictures
  </div>
  <input type="submit" value="UPLOAD IMAGES" class="py-1 px-8 mt-2 btncolor rounded-md">
</form>
</div>
      <div class="container bg-gray-100  py-1 my-3">
             <div class="text-sm fontdd font-bold text-center">Introductory Video </div>
      <video  controls  class="w-full mx-auto " >
  <source src="<%= user.video %>" type="video/mp4">
</video> </div>
      <div class="text-center container my-2"> 
 

     
<form action="/user/uploadvideo" method="post" enctype="multipart/form-data">
  <input type="file" name="video" value="video" accept="video/mp4/mkv"  class="form-control">
   <div class="fontdd container  text-center" style="font-size:12px;">
 * Make a video telling about yourself
So your supporters know more about you
</div>
  <input type="submit" value="UPLOAD VIDEO" class="py-1 px-8 mt-2 btncolor rounded-md">
</form>
</div>
      
 </div>
 
 <div class="container mx-auto ">
 <p class="text-sm mt-3 text-center" >* your voting Page</p>
 <input type="text" id="url" readonly class="form-control  w-11/12 mx-auto" value="https://voting-app-demo.glitch.me/<%= user.username%>"/>
<div class="flex justify-center mt-3">
<a class=" btncolor mr-1 rounded-md w-1/2 text-center py-1" href="https://voting-app-demo.glitch.me/<%= user.username%>" target="_blank">VIEW</a>
 <button class="ml-1 btncolor w-1/2 py-1 text-center  rounded-md"  value="Copy Url" onclick="Copy();">SHARE</button>

</div> 
 </div>
 
 
 
 
<% }else{ %>
<div class="container mx-auto py-8">
  <div class="text-center text-3xl mx-2 fontdd" >
    
  You haven't been part of a contest yet
</div>

<div class="flex flex-col my-5">
<a href="/" class="py-1 px-2 text-white font-bold btncolor rounded-md text-center mt-1 mx-1 py-2"  id="home_redirect fontdd">GO TO HOME PAGE TO JOIN CONTEST</a>
</div>
</div>

<% } %>





<div class="mt-20">

  <%- include('./partials/footer.ejs') %>
  </div>


<script type="text/javascript">
 document.querySelector(".preview").style.display="none";

function readURL(input) {
        var reader = new FileReader();
        reader.onload = function (e) {
         document.querySelector(".preview").style.display="block";
   document.querySelector('.preview').src=e.target.result;
        }
        reader.readAsDataURL(input.files[0]);
    }
  
</script>
    
    <script type="text/javascript">

        function Copy() 
        {
            var Url = document.getElementById("url");
            Url.focus();
            Url.select();  
            document.execCommand("Copy");
        }
</script>