<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<% if(user.isParticipant){ %>
<div class="" >
  <div class="flex flex-row justify-center">
    <div class="img flex flex-col ">
      <img src="<%= user.image %>" class="w-24 h-24 bg-yellow-300 rounded-full" />
      <div class"  my-2" style="text-align:center;">
        <%= user.first_name %>
      </div>
      <div class="flex ">
   <span>VOTES : </span>
            <% contest.forEach((item) => { %>
        <span><%= item.votes %> , </span>
        <% }) %>
      </div>
    </div>
  </div>
</div>


 <div class="w-11/12 my-3 mx-auto px-2 py-3 border rounded">
      <div class="grid grid-cols-3 gap-1 " >
      <div class="bg-gray-300  py-1 rounded  text-center">
      <img src="<%=  user.galary[0].filename  %>" class="w-20  mx-auto " /></div>
       <div class="bg-gray-300  py-1 rounded  text-center">
      <img src="<%=  user.galary[1].filename  %>" class="w-20  mx-auto " /></div>
       <div class="bg-gray-300  py-1 rounded  text-center">
      <img src="<%=  user.galary[2].filename  %>" class="w-20  mx-auto " /></div>
       <div class="bg-gray-300  py-1 rounded  text-center">
      <img src="<%=  user.galary[3].filename  %>" class="w-20  mx-auto " /></div>
       <div class="bg-gray-300  py-1 rounded  text-center">
      <img src="<%=  if(user.galary.le){ user.galary[4].filename }   %>" class="w-20  mx-auto " /></div>
       <div class="bg-gray-300  py-1 rounded  text-center">
      <img src="<%= if(user.galary[5]){ user.galary[5].filename }  %>" class="w-20  mx-auto " /></div>
         

      </div>
      
<div class="text-center container my-2"> 
<div class="text-center">
   <img class="preview" src="#" alt="your image 1"   height="100" />
   <img class="preview1" src="#" alt="your image"   height="100" />
   <img class="preview2" src="#" alt="your image"   height="100" />
   <img class="preview3" src="#" alt="your image"   height="100" />
   <img class="preview4" src="#" alt="your image"   height="100" />
   <img class="preview5" src="#" alt="your image" height="100" />
    </div>


<form action="/user/projects" method="post" enctype="multipart/form-data">
  <input type="file" id="uploadedImages" onChange="readURL(this)" name="uploadedImages" value="UPLOAD" multiple class="form-control">
  <input type="submit" value="UPLOAD IMAGES" class="py-1 px-8 mt-2 btncolor rounded-md">
</form>
</div>
      <div class="container bg-gray-400 py-2 my-3"><video width="290" height="200" controls>
  <source src="<%= user.video %>" type="video/mp4">
</video> </div>
      <div class="text-center container my-2"> 
<form action="/user/uploadvideo" method="post" enctype="multipart/form-data">
  <input type="file" name="video" value="video" accept="video/mp4/mkv"  class="form-control">
  <input type="submit" value="UPLOAD VIDEO" class="py-1 px-8 mt-2 btncolor rounded-md">
</form>
</div>
      
 </div>
 
<% }else{ %>
<div class="container mx-auto py-8">
  <div class="text-center text-3xl mx-2" >
    
  You haven't been part of a contest yet
</div>

<div class="flex flex-col my-5">
<a href="/" class="py-1 px-2 text-white font-bold btncolor rounded-md text-center mt-1 mx-1 py-2"  id="home_redirect">GO TO HOME PAGE TO JOIN CONTEST</a>
</div>
</div>

<% } %>





    
<div class="" style="margin-top:76%;">
<%- include('./partials/footer.ejs') %>
</div>



<script type="text/javascript">
 document.querySelector(".preview").style.display="none";
  document.querySelector(".preview1").style.display="none";
 document.querySelector(".preview2").style.display="none";
 document.querySelector(".preview3").style.display="none";
 document.querySelector(".preview4").style.display="none";
 document.querySelector(".preview5").style.display="none";

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
         document.querySelector(".preview").style.display="block";
   document.querySelector('.preview').src=e.target.result;
        }
        reader.readAsDataURL(input.files[0]);
    }
    if (input.files && input.files[1]) {
        var reader = new FileReader();
        reader.onload = function (e) {
         document.querySelector(".preview1").style.display="block";
   document.querySelector('.preview1').src=e.target.result;
        }
        reader.readAsDataURL(input.files[1]);
    }
    if (input.files && input.files[2]) {
        var reader = new FileReader();
        reader.onload = function (e) {
         document.querySelector(".preview2").style.display="block";
   document.querySelector('.preview2').src=e.target.result;
        }
        reader.readAsDataURL(input.files[2]);
    }
    if (input.files && input.files[3]) {
        var reader = new FileReader();
        reader.onload = function (e) {
         document.querySelector(".preview3").style.display="block";

   document.querySelector('.preview3').src=e.target.result;
        }
        reader.readAsDataURL(input.files[3]);
    }
    if (input.files && input.files[4]) {
        var reader = new FileReader();
        reader.onload = function (e) {
         document.querySelector(".preview4").style.display="block";
   document.querySelector('.preview4').src=e.target.result;
        }
        reader.readAsDataURL(input.files[4]);
    }
    if (input.files && input.files[5]) {
        var reader = new FileReader();
        reader.onload = function (e) {
         document.querySelector(".preview5").style.display="block";
   document.querySelector('.preview5').src=e.target.result;
        }
        reader.readAsDataURL(input.files[5]);
    }
   
     
}

  
</script>
    
    