<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<% if(user.isParticipant){ %>
<div class="" >
  <div class="flex flex-row justify-center">
    <div class="img flex flex-col ">
      <img src="<%= user.image %>" class="w-24 h-24 bg-yellow-300 rounded-full" />
      <div class"  my-2" style="text-align:center;">
        <%= user.first_name %>
      </div>
      <div class="flex ">
   <span>VOTES : </span>
            <% contest.forEach((item) => { %>
        <span><%= item.votes %> , </span>
        <% }) %>
      </div>
    </div>
  </div>
</div>


 <div class="w-11/12 my-3 mx-auto px-2 py-3 border rounded">
      <div class="grid grid-cols-3 gap-1 " >
      <% user.galary.forEach((item) => { %>
      
        <div class="bg-gray-300  rounded py-2 text-center"><img src="<%= item.filename  %>" class="w-12 mx-auto " /></div>
                <% }) %>

      </div>
      
<div class="text-center container my-2"> 
<img id="uploadPreview1" style="height: 200px;" class="my-2 mx-auto" />
<img id="uploadPreview2" style="height: 200px;" class="my-2 mx-auto" />

<form action="/user/projects" method="post" enctype="multipart/form-data">
  <input type="file" id="uploadedImages" onChange="PreviewImage1()" name="uploadedImages" value="UPLOAD" multiple class="form-control">
  <input type="submit" value="UPLOAD IMAGES" class="py-1 px-8 mt-2 btncolor rounded-md">
</form>
</div>
      <div class="container bg-gray-400 py-2 my-3"><video width="290" height="200" controls>
  <source src="<%= user.video %>" type="video/mp4">
</video> </div>
      <div class="text-center container my-2"> 
<form action="/user/uploadvideo" method="post" enctype="multipart/form-data">
  <input type="file" name="video" value="video" accept="video/mp4/mkv"  class="form-control">
  <input type="submit" value="UPLOAD VIDEO" class="py-1 px-8 mt-2 btncolor rounded-md">
</form>
</div>
      
 </div>
 
<% }else{ %>
<div class="container mx-auto py-8">
  <div class="text-center text-xl" >
    
  You haven't been part of a contest yet
</div>

<div class="flex flex-col my-5">
 <p class="text-start px-4" >
   Go To home and join Contest
  </p>
<a href="/" class="py-1 px-2 text-white font-bold btncolor rounded-md text-center mt-1 mx-4"  id="home_redirect">JOIN NOW</a>
</div>
</div>

<% } %>






<%- include('./partials/footer.ejs') %>


<script type="text/javascript">
 document.getElementById("uploadPreview1").style.display="none";
    function PreviewImage1() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("uploadedImages").files[0]);
        oFReader.onload = function (oFREvent) {
           document.getElementById("uploadPreview1").style.display="block";
          document.getElementById("uploadPreview1").src = oFREvent.target.result;     
     };
    };
  
  
  
</script>
    
    