<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
  .btn-bg{
    background-color:#FE3C72;
  }
  #voteBtn{
      position: relative;
  animation: shake 0.5s;
    animation-delay: 3s ;
  animation-iteration-count: infinite;
  }
  
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
</style>
<div class="ohk  pb-2">
    <% if(user){ %> 
    <div class=" mx-auto">
        <div class="btn-bg"> 
      <div class="btn-bg text-white container  rounded border">
        <div class="flex py-4 px-2">
          <div class='col-6 flex flex-col items-center  place-content-center '>
        <p class="text-lg font-bold ">
          <%= user.name %>
        </p> 
             <p class="text-lg font-bold "> VOTES :
          <%= user.total_votes %>
        </p>
        <p class="text-sm italic "> <%= user.username %>
        </p>
          </div>
          <div class="col-6">
                    <img src="<%= user.image %>" class="rounded-md w-36 h-36"  />

          </div>
        </div>
       
      </div>
    </div>
      <div class="container">
        <form action="/user/voted" method="post">
              <input type="hidden" name="participant_id" Placeholder="search" value="<%= user.google_id %>"/>
           <div class="flex flex-col container my-2" >
             
               <button type='submit' id="voteBtn" class="px-3 py-1 btn-bg text-xl tracking-wider rounded-full  text-white font-bold mb-2 " >VOTE NOW</button>
               <a  href="/" class="px-3 py-1 btn-bg rounded-full text-xl  tracking-wider	 text-center text-white font-bold ml-1" >PARTICIPATE NOW</a>
           </div>
        </form>
        <div class=' flex justify-center	 shadow-lg shadow-black	 rounded-full py-2 mt-2'>
          <a class="mr-6 " href="whatsapp://send?text=https://voting-app-demo.glitch.me/<%= user.username %>"><img src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/whatsapp.png?v=1640802270659" class="w-6" /></a>
          <a class="mr-6 " href="whatsapp://send?text=https://voting-app-demo.glitch.me/<%= user.username %>"><img src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/whatsapp.png?v=1640802270659" class="w-6" /></a>
          <a class="mr-6 " href="whatsapp://send?text=https://voting-app-demo.glitch.me/<%= user.username %>"><img src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/whatsapp.png?v=1640802270659" class="w-6" /></a>
          <a class="mr-6 " href="whatsapp://send?text=https://voting-app-demo.glitch.me/<%= user.username %>"><img src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/whatsapp.png?v=1640802270659" class="w-6" /></a>

      </div>
      </div>
  </div>
  
  
  
    <% }else{ %>
        <h1 class="font-bold mt-12 text-3xl text-center">NO User Found !</h1>
         <% } %>
</div>

<%- include('./partials/footer.ejs') %>


