<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
  .btn-bg{
    background-color:#FE3C72;
  }
</style>
<div class="ohk bg">
    <% if(user){ %>
    <div class="container mx-auto">
      <div class="btn-bg text-white rounded border  w-84">
        <div class="flex py-4 px-2">
          <div class='col-6 flex flex-col items-center  place-content-center '>
        <p class="text-lg font-bold ">
          <%= user.name %>
        </p> 
             <p class="text-lg font-bold "> VOTES :
          <%= user.total_votes %>
        </p>
        <p class="text-sm italic "> <%= user.username %>
        </p>
          </div>
          <div class="col-6">
                    <img src="<%= user.image %>" class="rounded-md w-36 h-36"  />

          </div>
        </div>
       
      </div>
        <form action="/user/voted" method="post">
              <input type="hidden" name="participant_id" Placeholder="search" value="<%= user.google_id %>"/>
           <div class="flex flex-col my-2" >
             
               <button type='submit' class="px-3 py-2 btn-bg rounded-full  text-white font-bold mb-2 " >Vote Now</button>
               <a  href="/" class="px-3 py-2 btn-bg rounded-full  text-center text-white font-bold ml-1" >Participate Now</a>
           </div>
        </form>
        <div class=' flex justify-center	 shadow-lg shadow-black	 rounded-full py-2 mt-2'>
          <a class="mr-6 " href="whatsapp://send?text=https://voting-app-demo.glitch.me/<%= user.username %>"><img src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/whatsapp.png?v=1640802270659" class="w-6" /></a>
          <a class="mr-6 " href="whatsapp://send?text=https://voting-app-demo.glitch.me/<%= user.username %>"><img src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/whatsapp.png?v=1640802270659" class="w-6" /></a>
          <a class="mr-6 " href="whatsapp://send?text=https://voting-app-demo.glitch.me/<%= user.username %>"><img src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/whatsapp.png?v=1640802270659" class="w-6" /></a>
          <a class="mr-6 " href="whatsapp://send?text=https://voting-app-demo.glitch.me/<%= user.username %>"><img src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/whatsapp.png?v=1640802270659" class="w-6" /></a>

      </div>
  </div>
  
  
  
    <% }else{ %>
        <h1 class="font-bold mt-12 text-3xl text-center">NO User Found !</h1>
         <% } %>
</div>

<%- include('./partials/footer.ejs') %>


