<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
  .btn-bg{
    background-color:#FE3C72;
  }
   #url{
   resize:none;
}
</style>
<div class="ohk  pb-2">
   
   <% if(user.isParticipant){ %>
<div class=" mt-3" >
  <div class="flex flex-row justify-center ">
    <div class="img flex flex-col ">
      <img src="<%= user.image %>" class=" bg-yellow-300 rounded-full" style="width:7rem; height : 7rem ;" />
      <div class"my-2" style="text-align:center;  margin-top:7px; ">
        <%= user.first_name %>
      </div>
      <div class"  my-2" style="text-align:center;  margin-top:7px; "><%= user.username %></div>
    <div class"  my-2" style="text-align:center;  margin-top:7px; ">
          <%= user.total_votes %> Votes
      </div>
    </div>
  </div>
</div>


 <div class="w-11/12 my-3 mx-auto px-2 py-3  rounded">
 <div class="text-sm font-bold text-center">GALLERY </div>
      <div class="grid grid-cols-3 gap-1 " >
      <div class="border py-1 rounded  text-center" style="min-height:70px;">
     <% if(user.galary[0]){%>
            <img src="<%= user.galary[0].filename  %>" class="w-20 h-20 mx-auto " />
    <% }else{%>
           <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/user.png?v=1642098618413" class="w-20 h-20 mx-auto " />
         <% }%></div>
         
    <div class="border  py-1 rounded  text-center">
     <% if(user.galary[1]){%>
            <img src="<%= user.galary[1].filename  %>" class="w-20 h-20 mx-auto " />
    <% }else{%>
           <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/user.png?v=1642098618413" class="w-20 h-20 mx-auto " />
         <% }%></div>
    
     <div class="border  py-1 rounded  text-center">
     <% if(user.galary[2]){%>
            <img src="<%= user.galary[2].filename  %>" class="w-20 h-20 mx-auto " />
    <% }else{%>
           <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/user.png?v=1642098618413" class="w-20 h-20 mx-auto " />
         <% }%></div>
    
     <div class="border py-1 rounded  text-center">
     <% if(user.galary[3]){%>
            <img src="<%= user.galary[3].filename  %>" class="w-20 h-20 mx-auto " />
  <% }else{%>
           <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/user.png?v=1642098618413" class="w-20 h-20 mx-auto " />
         <% }%></div>
    
     <div class="border  py-1 rounded  text-center">
     <% if(user.galary[4]){%>
            <img src="<%= user.galary[4].filename  %>" class="w-20 h-20 mx-auto " />
   <% }else{%>
           <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/user.png?v=1642098618413" class="w-20 h-20 mx-auto " />
         <% }%></div>
    
     <div class="border   py-1 rounded  text-center" style="min-height:70px;">
     <% if(user.galary[5]){%>
            <img src="<%= user.galary[5].filename  %>" class="w-20 h-20 mx-auto " />
    <% }else{%>
           <img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/user.png?v=1642098618413" class="w-20 h-20 mx-auto " />
         <% }%></div>
      </div>
      </div>


</div>
      <div class="container bg-gray-100 py-2 my-3">
       <div class="text-sm font-bold text-center">Introductory Video </div>
      <video controls autoplay loop="true"   class="my-2" >
  <source src="onevideo.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
  Your browser does not support the video tag.
</video></div>

      
 </div>

</div>
   
   
   
   
   
   
   
   
   
   
    </div>

      <div class="container">
        <form action="/user/voted" method="post">
              <input type="hidden" name="participant_id" Placeholder="search" value="<%= user.google_id %>"/>
           <div class="flex flex-col container my-2" >
               <button type='submit' id="voteBtn" class="px-3 py-1 btn-bg text-xl tracking-wider rounded-full  text-white font-bold mb-2 " >VOTE NOW</button>
           </div>
        </form>
        <textarea rows="1" cols="43" id="url" class=" mx-auto text-center" style="border:none;outline:none; display:none;"></textarea>
        
             <p class="text-center" >support { <%= user.username %> } By sharing on</p>
        <div class=' flex justify-center	 shadow-lg shadow-black	 rounded-full py-2 mt-2'>
          <a class="mr-6 " href="whatsapp://send?text=https://voting-app-demo.glitch.me/<%= user.username %>"><img src="https://cdn.glitch.me/b99f4b77-dfd6-402b-bc23-05376313ecbc/whatsapp.png?v=1640802270659" class="w-6" /></a>
          
        
          <a class="mr-6" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su=Voting+App&body=+https://voting-app-demo.glitch.me/<%= user.username %>+&ui=2&tf=1&pli=1';

window.open(url, 'sharer', 'toolbar=0,status=0,width=648,height=395">
<img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/gmail.png?v=1642093180464" class="w-6" /></a>
  
  
          <button class="mr-6 "  value="Copy Url" onclick="Copy();"><img src="https://cdn.glitch.global/b99f4b77-dfd6-402b-bc23-05376313ecbc/copy.png?v=1642093104214" class="w-6" /></button>
          
      </div>
      <div class="block mt-4">
      <a  href="/" class="px-3 block py-1 btn-bg rounded-full text-xl  tracking-wider	 text-center text-white font-bold ml-1" >PARTICIPATE NOW</a></div>
      </div>
  </div>
  
</div>


<% }else{ %>
<div class="container mx-auto py-8">
  <div class="text-center text-3xl mx-2" >
  No user found for this username try another one
</div>
<% } %>

<%- include('./partials/footer.ejs') %>
<script type="text/javascript">

        function Copy() 
        {
            var Url = document.getElementById("url");
            Url.style.display = 'block';
            Url.value = window.location.href;
            Url.focus();
            Url.select();  
            document.execCommand("Copy");
        }
</script>