<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<div class="container">
    <% if(user){ %>
    <div class="container mx-auto">
      <div class="bg-gray-300 rounded border w-64">
        <img src="<%= user.image %>" class="rounded-md" />
        <p class="text-lg font-bold mb-3 mt-3">Name : 
          <%= user.name %>
        </p>
         <form action="/user/voted" method="post">
              <input type="hidden" name="participant_id" Placeholder="search" value="<%= user.google_id %>"/>
               <button type='submit' class="px-3 py-2 bg-gray-700 rounded-full  text-white font-bold ml-20" >Vote Now</button>
        </form>
      </div>
  </div>
  
  
  
    <% }else{ %>
        <h1 class="font-bold mt-12 text-3xl text-center">NO User Found !</h1>
         <% } %>
</div>

<%- include('./partials/footer.ejs') %>


